body {
    font-size: 20px; 
    font-family: "Times New Roman", Times, serif; 
    margin: 0; 
    padding: 0; 
    line-height: 1.5;
}

.dark .logo#Dark-BYUI-Logo {
    display: block;
}

.dark .logo#BYUI-Logo {
    display: none;
}

body.dark {
    background-color: #333;
    color: white;
}

.content {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px; 
}


header.title {
    text-align: center;
    margin-bottom: 20px;
}

header.title h1, header.title h2 {
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.5;
}


header.title h2 {
    color: #006EB6;
}

body.dark header.title h2 {
    color: #4DA9E5;
}

p {
    text-align: left; 
    margin: 10px 0;
}


.does-list {
    margin-left: 20px; 
}


footer img {
    width: 150px;
    height: auto;
    display: block; 
    margin: 20px auto;
}
